body {
    margin: 5%;
}

.logo {
    width: 10%;
}

img {
    width: 100%;
}

h2 {
    margin: 1rem 0;
}

.flex {
    display: flex;
    justify-content: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    width: 30%;
}

#draw {
    border: solid 2px #000;
    width: 8rem;
    height: 2.5rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin: auto;
    background-color: #4caf50;
    border: none;
    font-size: 28px;
    color: #ffffff;
    padding: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#draw:after {
    content: "";
    background: #90ee90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

#draw:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.number {
    font-size: 3rem;
}

.number img {
    height: 120px;
    width: auto;
}

.suit {
    width: 15rem;
}

.winner {
    flex-grow: 1;
}

.suit img {
    padding: .3rem;
    width: 15%;
}

.player {
    border: solid 1px #000;
    width: 15rem;
    height: 20rem;
    text-align: center;
}

button {
    background-color: #4caf50;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.3rem;
    color: #fff;
}

.button:hover {
    color: red;
    cursor: pointer;
}
span {
    margin-left: 1rem;
}

input {
    margin: 1rem 0;
    font-size: 2rem;
    padding: .5px;
    width: 8rem;
}

#submit {
    padding: .5rem;
    margin: .5rem;
    width: 8rem;
}

.hidden {
    display: none;
}

p {
    font-size: 1.2rem;
}

@media only screen and (max-width: 850px) {
    .flex{
        flex-direction: column;
    }
    .flexColumn {
        margin: 1rem;
        width: 90%;
    }
}
    